
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container{

    max-width: 500px;
    height: 100vh;
    max-height: 740px;
    margin: 0 auto;
    background-color: #ffb74d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid black;
    box-shadow: 5px 5px 5px black(0,0,0,0.3);
}

footer{
    text-align: center;
    padding: 10px;
}

footer a{

    color:black;
    text-decoration: none;
}

#start-text{

    font-size:26px ;
    text-align: center;
    padding: 20px;

}

h1{

    font-size: 35px;
    text-align: center;
    padding: 20px;
}

#result{

    height: 50vh;
    text-align: center;

}
 
#result img{

    width: 40%;
}

#group-btn{

    display:flex;
    width:100%;

}

#group-btn > button > img{

    width: 100%;
}